In [1]:
import psycopg2
database="startml",
user="robot-startml-ro",
password="pheiph0hahj1Vaif",
host="postgres.lab.karpov.courses",
port=6432
conn_uri = "postgresql://robot-startml-ro:pheiph0hahj1Vaif@postgres.lab.karpov.courses:6432/startml"

import pandas as pd
user_df = pd.read_sql("SELECT * FROM public.user_data;", conn_uri)
post_text_df = pd.read_sql("SELECT * FROM public.post_text_df;", conn_uri)
extra_data = pd.read_sql("SELECT distinct on (user_id, target,feed_data.action,target) timestamp,user_id,post_id,public.feed_data.action,target FROM public.feed_data;", conn_uri)
feed_data = pd.read_sql("SELECT * FROM public.feed_data where target=1 order by random()limit 1000000;", conn_uri)

In [2]:
extra_df = pd.concat([extra_data, feed_data], axis=0)
df = pd.merge(user_df, extra_df, on='user_id',how='left')

In [3]:
df['timestamp'] = pd.to_datetime(df['timestamp'])

# Обработка категориальных фичей OneHotEncoding и MeanTarget
import pandas as pd
from sklearn.preprocessing import LabelEncoder

for col in df.select_dtypes(include=['object']).columns:
    if df[col].nunique() < 5:
        one_hot = pd.get_dummies(df[col], prefix=col, drop_first=True)
        df = pd.concat((df.drop(col, axis=1), one_hot), axis=1)
    else:
        mean_target = df.groupby(col)['target'].mean()
        df[col] = df[col].map(mean_target)

In [4]:
one_hot = pd.get_dummies(df['exp_group'], prefix=col, drop_first=True)
df = pd.concat((df.drop('exp_group', axis=1), pd.get_dummies(df['exp_group'], prefix=col, drop_first=True)), axis=1)
df

,user_id,gender,age,country,city,timestamp,post_id,target,os_iOS,source_organic,action_view,action_1,action_2,action_3,action_4
0,200,1,34,0.772004,0.772727,2021-12-29 15:01:06,3567,0,0,0,0,0,0,1,0
1,200,1,34,0.772004,0.772727,2021-12-24 13:44:42,2252,0,0,0,1,0,0,1,0
2,200,1,34,0.772004,0.772727,2021-12-24 13:53:14,4723,1,0,0,1,0,0,1,0
3,200,1,34,0.772004,0.772727,2021-11-23 09:04:00,4565,1,0,0,1,0,0,1,0
4,200,1,34,0.772004,0.772727,2021-11-07 07:21:27,1630,1,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1489604,168551,0,38,0.772004,0.817049,2021-12-06 08:38:49,3608,1,1,1,1,0,0,1,0
1489605,168552,1,16,0.772004,0.663043,2021-11-23 14:44:41,3628,0,0,1,0,0,0,0,1
1489606,168552,1,16,0.772004,0.663043,2021-10-12 13:09:50,2252,0,0,1,1,0,0,0,1
1489607,168552,1,16,0.772004,0.663043,2021-12-21 09:31:07,5487,1,0,1,1,0,0,0,1
1489608,168552,1,16,0.772004,0.663043,2021-12-21 09:31:07,5487,1,0,1,1,0,0,0,1

In [5]:
# MeanTarget для 'age'
mean_target_2 = df.groupby('age')['target'].mean()
df['age'] = df['age'].map(mean_target_2)

# Популярность текста 
df['post_likes'] = df.groupby('post_id')['target'].transform('sum')

# Взаимодействие с топиками
topic_interactions = feed_data.merge(post_text_df[['post_id', 'topic']], left_on='post_id', right_on='post_id', how='left')
topic_interactions = topic_interactions.groupby(['user_id', 'topic']).size().unstack(fill_value=0)

In [6]:
df

,user_id,gender,age,country,city,timestamp,post_id,target,os_iOS,source_organic,action_view,action_1,action_2,action_3,action_4,post_likes
0,200,1,0.783763,0.772004,0.772727,2021-12-29 15:01:06,3567,0,0,0,0,0,0,1,0,329
1,200,1,0.783763,0.772004,0.772727,2021-12-24 13:44:42,2252,0,0,0,1,0,0,1,0,74
2,200,1,0.783763,0.772004,0.772727,2021-12-24 13:53:14,4723,1,0,0,1,0,0,1,0,89
3,200,1,0.783763,0.772004,0.772727,2021-11-23 09:04:00,4565,1,0,0,1,0,0,1,0,86
4,200,1,0.783763,0.772004,0.772727,2021-11-07 07:21:27,1630,1,0,0,1,0,0,1,0,92
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1489604,168551,0,0.781080,0.772004,0.817049,2021-12-06 08:38:49,3608,1,1,1,1,0,0,1,0,302
1489605,168552,1,0.781302,0.772004,0.663043,2021-11-23 14:44:41,3628,0,0,1,0,0,0,0,1,384
1489606,168552,1,0.781302,0.772004,0.663043,2021-10-12 13:09:50,2252,0,0,1,1,0,0,0,1,74
1489607,168552,1,0.781302,0.772004,0.663043,2021-12-21 09:31:07,5487,1,0,1,1,0,0,0,1,108
1489608,168552,1,0.781302,0.772004,0.663043,2021-12-21 09:31:07,5487,1,0,1,1,0,0,0,1,108

In [7]:
# Очистка текста
import nltk
import re
import string
nltk.download('stopwords')
from nltk.corpus import stopwords 
from nltk.stem import WordNetLemmatizer  
stop_words = stopwords.words('english')

# Токенизация, удаление стоп-слов и приведение слов к нижнему регистру
sw = stopwords.words('english')
lemmatizer = WordNetLemmatizer() 

def clean_text(text):
    text = text.lower()  
    text = re.sub(r"[^a-zA-Z?.!,¿]+", " ", text)
    punctuations = '@#!?+&*[]-%.:/();$=><|{}^' + "'`" + '_'
    
    for p in punctuations:
        text = text.replace(p,'') #Removing punctuations
        
    text = [word.lower() for word in text.split() if word.lower() not in sw]
    text = [lemmatizer.lemmatize(word) for word in text]
    text = " ".join(text)
    
    return text

post_text_df['text'] = post_text_df['text'].apply(lambda x: clean_text(x))

# Создаём матрицу TF-IDF
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf = TfidfVectorizer(max_features = 300)  
tfidf_matrix = tfidf.fit_transform(post_text_df['text'].fillna('unknown'))
tfidf_df = pd.DataFrame(tfidf_matrix.toarray(), columns=tfidf.get_feature_names_out())
tfidf_df.reset_index(drop=True, inplace=True)
post_text_df.reset_index(drop=True, inplace=True)

[nltk_data] Downloading package stopwords to /home/karpov/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [19]:
tfidf_df

,able,acting,action,actor,actually,added,almost,already,also,although,...,whole,win,without,woman,work,world,would,year,yet,young
0,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.0,0.053747,0.086776,...,0.090915,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.162594,0.0,0.0
1,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.0,0.101963,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.329497,0.050257,0.000000,0.0,0.0
2,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.060168,0.0,0.151503,0.061152,...,0.000000,0.0,0.000000,0.000000,0.000000,0.048959,0.074675,0.000000,0.0,0.0
3,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.063978,0.048792,0.000000,0.0,0.0
4,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.0,0.087810,0.141772,...,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7018,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.0,0.098474,0.000000,...,0.166574,0.0,0.000000,0.000000,0.000000,0.000000,0.097075,0.000000,0.0,0.0
7019,0.000000,0.160524,0.0,0.160164,0.0,0.0,0.000000,0.0,0.000000,0.000000,...,0.000000,0.0,0.167752,0.000000,0.142529,0.000000,0.105106,0.000000,0.0,0.0
7020,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.0,0.136937,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0
7021,0.221763,0.000000,0.0,0.194645,0.0,0.0,0.000000,0.0,0.129576,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0
7022,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.000000,...,0.000000,0.0,0.000000,0.258919,0.000000,0.203926,0.000000,0.000000,0.0,0.0

In [8]:
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler
# Стандартизация данных
scaler = StandardScaler()
X_scaled = scaler.fit_transform(tfidf_df)

# Применение PCA
pca = PCA(n_components=50) 
X_pca = pca.fit_transform(X_scaled)
X_pca = pd.DataFrame(X_pca)
X_pca= X_pca.add_prefix('PCA_')
#X_pca = pca.fit_transform(X_scaled)

# Коэффициенты главных компонент
components = pca.components_

# Создание DataFrame для значимости
importance_df = pd.DataFrame(components, columns=tfidf.get_feature_names_out()) 

# Суммирование абсолютных значений коэффициентов для каждой колонки
importance_scores = importance_df.abs().sum(axis=0)

# Сортировка по значимости
sorted_importance = importance_scores.sort_values(ascending=False)

# Получение имен колонок, отсортированных по значимости
top_features = sorted_importance.index.tolist()

print("100 наиболее значимых колонок:", top_features[:100])

100 наиболее значимых колонок: ['ive', 'mobile', 'phone', 'seen', 'house', 'tv', 'sure', 'tax', 'music', 'original', 'british', 'job', 'song', 'cut', 'award', 'law', 'user', 'net', 'case', 'hour', 'im', 'club', 'audience', 'new', 'london', 'used', 'might', 'best', 'series', 'production', 'offer', 'action', 'economy', 'he', 'half', 'set', 'ever', 'european', 'bad', 'minute', 'year', 'le', 'comedy', 'early', 'show', 'money', 'first', 'figure', 'hard', 'come', 'brown', 'budget', 'home', 'bbc', 'saw', 'came', 'role', 'version', 'horror', 'world', 'computer', 'performance', 'funny', 'uk', 'girl', 'call', 'great', 'seems', 'sale', 'director', 'time', 'yet', 'let', 'old', 'lead', 'found', 'real', 'interest', 'far', 'government', 'second', 'acting', 'quite', 'young', 'run', 'woman', 'played', 'country', 'took', 'right', 'thought', 'third', 'though', 'every', 'give', 'cast', 'result', 'could', 'john', 'power']

In [10]:
# Ещё одно понижение размерности с помощью K-Means
from sklearn.cluster import KMeans

kmeans = KMeans(n_clusters=100, random_state=42).fit(X_pca)
scaler = StandardScaler()
KMeans_scaled = scaler.fit_transform(X_pca)
post_text_df['kmeans_pca'] = kmeans.predict(X=X_pca)

In [11]:
post_text_df

,post_id,text,topic,kmeans_pca
0,1,uk economy facing major risk uk manufacturing ...,business,8
1,2,aid climate top davos agenda climate change fi...,business,86
2,3,asian quake hit european share share europe le...,business,53
3,4,india power share jump debut share india large...,business,53
4,5,lacroix label bought u firm luxury good group ...,business,35
...,...,...,...,...
7018,7315,"ok, would normally watch farrelly brother movi...",movie,81
7019,7316,give movie star purely slightly liberal plot l...,movie,77
7020,7317,cant believe film allowed made people drug bea...,movie,81
7021,7318,version saw film blockbuster rental similar ti...,movie,3
7022,7319,piece subtle art maybe masterpiece doubtlessly...,movie,65

In [13]:
# Новая фича - длина текста 
post_text_df['text_length'] = post_text_df['text'].apply(len)

# Взаимодействие с топиками
topic_interactions = feed_data.merge(post_text_df[['post_id', 'topic']], left_on='post_id', right_on='post_id', how='left')
topic_interactions = topic_interactions.groupby(['user_id', 'topic']).size().unstack(fill_value=0)

# One Hot для 'topic'
one_hot = pd.get_dummies(post_text_df['topic'], prefix='topic', drop_first=True)
post_changed = pd.concat((post_text_df.drop('topic', axis=1), one_hot), axis=1)

post_final = post_changed.drop('text', axis=1)

In [14]:
post_final

,post_id,kmeans_pca,text_length,topic_covid,topic_entertainment,topic_movie,topic_politics,topic_sport,topic_tech
0,1,8,1382,0,0,0,0,0,0
1,2,86,1861,0,0,0,0,0,0
2,3,53,2410,0,0,0,0,0,0
3,4,53,745,0,0,0,0,0,0
4,5,35,656,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...
7018,7315,81,482,0,0,1,0,0,0
7019,7316,77,474,0,0,1,0,0,0
7020,7317,81,410,0,0,1,0,0,0
7021,7318,3,465,0,0,1,0,0,0
7022,7319,65,587,0,0,1,0,0,0

In [15]:
df_catboost = pd.merge(df, topic_interactions, on='user_id', how='left')
df_catboost = pd.merge(df_catboost, post_final, on='post_id', how='left')
df_catboost

,user_id,gender,age,country,city,timestamp,post_id,target,os_iOS,source_organic,...,sport,tech,kmeans_pca,text_length,topic_covid,topic_entertainment,topic_movie,topic_politics,topic_sport,topic_tech
0,200,1,0.783763,0.772004,0.772727,2021-12-29 15:01:06,3567,0,0,0,...,2.0,0.0,31,68,1,0,0,0,0,0
1,200,1,0.783763,0.772004,0.772727,2021-12-24 13:44:42,2252,0,0,0,...,2.0,0.0,39,2426,0,0,0,0,0,1
2,200,1,0.783763,0.772004,0.772727,2021-12-24 13:53:14,4723,1,0,0,...,2.0,0.0,36,1187,0,0,1,0,0,0
3,200,1,0.783763,0.772004,0.772727,2021-11-23 09:04:00,4565,1,0,0,...,2.0,0.0,23,410,0,0,1,0,0,0
4,200,1,0.783763,0.772004,0.772727,2021-11-07 07:21:27,1630,1,0,0,...,2.0,0.0,29,1129,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1489604,168551,0,0.781080,0.772004,0.817049,2021-12-06 08:38:49,3608,1,1,1,...,1.0,0.0,40,106,1,0,0,0,0,0
1489605,168552,1,0.781302,0.772004,0.663043,2021-11-23 14:44:41,3628,0,0,1,...,0.0,0.0,41,86,1,0,0,0,0,0
1489606,168552,1,0.781302,0.772004,0.663043,2021-10-12 13:09:50,2252,0,0,1,...,0.0,0.0,39,2426,0,0,0,0,0,1
1489607,168552,1,0.781302,0.772004,0.663043,2021-12-21 09:31:07,5487,1,0,1,...,0.0,0.0,36,397,0,0,1,0,0,0
1489608,168552,1,0.781302,0.772004,0.663043,2021-12-21 09:31:07,5487,1,0,1,...,0.0,0.0,36,397,0,0,1,0,0,0

In [20]:
# Выбираем только числовые столбцы для преобразования
numeric_columns = df_catboost.select_dtypes(include=['float64', 'int64']).columns

# Преобразуем только числовые столбцы в float32
df_catboost[numeric_columns] = df_catboost[numeric_columns].astype('float32')

In [21]:
from sklearn.model_selection import train_test_split

# Подготовка данных для обучения
X = df_catboost.drop(['target', 'timestamp', 'user_id', 'post_id'], axis=1)
y = df_catboost['target']
user_ids = df_catboost['user_id']

# Разделение данных на обучающую и тестовую выборки
X_train, X_test, y_train, y_test, user_train, user_test = train_test_split(X, y, user_ids, test_size=0.2, random_state=42)

In [22]:
from sklearn.model_selection import RandomizedSearchCV
import catboost
from sklearn.metrics import accuracy_score
from catboost import CatBoostClassifier
from sklearn.utils.class_weight import compute_class_weight
import numpy as np

def train_catboost(X_train, y_train, param_dist=None, random_state=42):
    
    catboost_model = CatBoostClassifier(loss_function='Logloss', 
                                        verbose=0, 
                                        random_state=random_state,             
                                       )
    if param_dist is None:
        param_dist = {
            'depth': [4, 6, 8],
            'learning_rate': [0.01, 0.1, 0.2],
            'iterations': [100, 200],
            'l2_leaf_reg': [1, 3, 5],
        }

    # Обучение модели с использованием RandomizedSearchCV
    randomized_search = RandomizedSearchCV(catboost_model, param_dist, n_iter=10, scoring='roc_auc', cv=3, n_jobs=-1)
    randomized_search.fit(X_train, y_train)    

    return randomized_search.best_estimator_

In [23]:
X_train_final = X_train.iloc[:1000000]
y_train_final = y_train.iloc[:1000000]

In [24]:
model = train_catboost(X_train_final, y_train_final)

In [25]:
model.save_model('catboost_model_5_33', format="cbm")

In [27]:
df_for_saving = df_catboost.copy()

In [32]:
df_for_saving.shape

(1489609, 31)

In [29]:
from sqlalchemy import create_engine

engine = create_engine(
    "postgresql://robot-startml-ro:pheiph0hahj1Vaif@"
    "postgres.lab.karpov.courses:6432/startml"
)

df_for_saving.to_sql('ulyanas_astrovas_features_lesson_22_333', engine, if_exists='append', chunksize=1000)
#df_for_saving.to_sql('ulyanas_astrovas_features_lesson_22_333', con=engine) # записываем таблицу

1489609